.container-fluid {
    padding-left:0px;
    padding-right:0px;
}
/* Navbar */
.main-navbar {
    background-color: #373739 !important;
    /*border-bottom: 5px solid #EE2931;*/
}
.navbar {
    border:none;
}
.navbar ul.nav > li > a {
  text-transform: uppercase;
  border-top: solid 5px transparent;
  color:#fff;
}
.navbar ul.nav > li > a:hover {
  border-top: solid 5px #d94a4a;
  color: #fff;
}
.navbar ul.nav > li > a.active {
    border-top: solid 5px #d94a4a;
}
@media (max-width: 767px) {
  .navbar ul.nav > li > a:hover {
    border-top: solid 5px transparent;
  }
}
.navbar ul.nav > li.active > a,
.navbar ul.nav > li.open > a {
  text-decoration: none !important;
  border-top: solid 5px #FF9800;
  font-weight: bold;
}
@media (max-width: 767px) {
  .navbar ul.nav > li.active > a,
  .navbar ul.nav > li.open > a {
    border-top: solid 5px transparent;
  }
}
.main-logo {
    font-size: 32px;
    font-family: Ubuntu,Lato, Verdana, Tahoma, sans-serif;
    color:#fff;
}
.main-logo:hover {
    color: #fff;
}
/* .navbar-image-block {
    margin-left:10px;
} */

/* Section */
.section-padding {
    padding-top: 80px;
    padding-bottom: 100px;
}

.section-title {
    margin-bottom: 60px;
}

.section-title h1 {
    font-size: 30px;
}
.bg-color {
    position: relative;
}

.bg-color:before {
    position: absolute;
    content: "";
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: block;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/* Skills */
.skill-section .rating-bar {
    width: 360px;
}

.progress-content {
    overflow: hidden;
}

.bar-left {
    float: left;
}

.bar-right {
    float: right;
}

.rating-bar label,
.rating-bar span {
    font-size: 16px;
    margin-bottom: 10px;
}

.skill-progress {
    position: relative;
    margin-bottom: 40px;
}

.progress {
    height: 8px;
    margin-bottom: 22px;
    background-color: #ebebeb;
    border-radius: 4px;
    box-shadow: none;
    width: 100%;
    position: relative;
}

.progress-bar {
   background-color: #f4bf00;
   box-shadow: none;
  -webkit-transition: width 2s ease-in-out;
  -moz-transition: width 2s ease-in-out;
  -ms-transition: width 2s ease-in-out;
  -o-transition: width 2s ease-in-out;
  transition:  width 2s ease-in-out;
  border-radius: 4px;   
}

.progress-bar.bar1 {
    background-color: #b90162;
}

.progress-bar.bar2 {
    background-color: #3c70b4;
}

.progress-bar.bar3 {
    background-color: #f26522;
}

.progress-bar.bar4 {
    background-color: #ed1c24;
}

.progress-bar.bar5 {
    background-color: #87c05e;
}
.progress-bar.bar6 {
    background-color: #f7941d;
}
.progress-bar.bar7 {
    background-color: #ed1c24;
}